<footer class="footer">
    <div class="container">
        <div class="footer-main">
            <div class="footer-column">
                <h4>Main products</h4>
                <ul>
                    <li><a href="#">Gym books</a></li>
                    <li><a href="#">Equipment</a></li>
                    <li><a href="#">Clothes</a></li>
                    <li><a href="#">Shoes</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Overview</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Information</h4>
                <ul>
                    <li><a href="#">Returns And Refunds</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Subscribe to our Newsletter</h4>
                <form class="newsletter-form">
                    <input type="email" placeholder="Enter your email" />
                    <div class="checkbox">
                        <input type="checkbox" id="terms">
                        <label for="terms">I agree to the terms of service</label>
                    </div>
                    <button href="#" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2023 DH2P-Sports Gear Website. All Rights Reserved.</p>
            <div class="social-icons">
                <!-- Add your social icon links here -->
                <a href="#"><i class="fab fa-facebook fa-2x" style="color: #c7c7c7"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x" style="color: #c7c7c7"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x" style="color: #c7c7c7"></i></a>

            </div>
        </div>
    </div>
</footer>
